.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c2bfbf;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #62e5df;
    padding: 10px;
}