
  .social-icons {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    float: right;
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .social-icon {
    margin-right: 10px; /* Adjust space between icons */
  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
  }
  